@import './../../../UI/Scss/variables.scss';


.SignIn {
    display       : flex;
    flex-direction: column;
    padding       : 1rem;

    .TextField {
        margin: .5rem;

        & label {
            color: $white;
        }

        & fieldset {
            border-color: darken($white, 50%);

            &:hover {
                border-color: darken($white, 10%);
            }
        }

        & input::placeholder {
            color: $white;
        }
    }

    .Button {
        margin : 1rem;
        padding: 1rem;
        color  : $white;
    }

    .Invalid {
        background-color: salmon
    }
}