@import './../../../UI/Scss/variables.scss';


.SignIn {
    display       : flex;
    flex-direction: column;
    padding       : 1rem;

    .TextField{

        color: $white !important;
    }

    .Invalid {}
}