@import './Components/UI//Scss/variables.scss';

.App {
  text-align: center;
  max-height: 100vh;
}


.AppHeader {
  height          : calc(100vh - #{$navHeight});
  background-color: $bgColor;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}